*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{

    background:linear-gradient(135deg,#0f4c81,#56ccf2);

    height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;
}

.container{

    width:500px;

    background:white;

    border-radius:15px;

    padding:40px;

    box-shadow:0 10px 30px rgba(0,0,0,.2);

    text-align:center;
}

h1{

    color:#0f4c81;

    margin-bottom:15px;
}

.subtitle{

    color:#555;

    margin-bottom:30px;

    line-height:1.6;
}

.upload-box{

    display:block;

    border:2px dashed #0f4c81;

    padding:30px;

    cursor:pointer;

    border-radius:10px;

    margin-bottom:25px;

    transition:.3s;
}

.upload-box:hover{

    background:#eef7ff;
}

.upload-box input{

    display:none;
}

.upload-box span{

    font-size:18px;

    color:#0f4c81;

    font-weight:bold;
}

button{

    width:100%;

    padding:15px;

    background:#0f4c81;

    color:white;

    border:none;

    border-radius:10px;

    font-size:18px;

    cursor:pointer;

    transition:.3s;
}

button:hover{

    background:#0b3d68;
}
input[type=file]{
    width:100%;
    padding:12px;
    border:2px solid #0f4c81;
    border-radius:8px;
    background:#fff;
    margin-bottom:20px;
}
