<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Deteksi Tuberkulosis (TBC)</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>🩺 Deteksi Penyakit Tuberkulosis</h1>

    <p class="subtitle">
        Upload citra X-Ray paru-paru untuk mengetahui apakah
        terdeteksi <b>Normal</b> atau <b>Tuberkulosis (TBC)</b>.
    </p>

    <form action="{{ url_for('predict') }}" method="POST" enctype="multipart/form-data">

    <input
        type="file"
        id="image"
        name="image"
        accept=".jpg,.jpeg,.png"
        required>

    <br><br>

    <button type="submit">
        🔍 Prediksi
    </button>

</form>

</div>

</body>
</html>
